

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    width: 98%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

#logo {
    width: 20%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.coluna {
    width: 48%;
}

.coluna img {
    width: 80%;
    height: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}
